version: '3.8'
services:
  postgres:
    image: postgres:latest
    env_file:
      - .env.example
    ports:
      - "5432:5432"

  api:
    build: .
    env_file:
      - .env.example
    depends_on:
      - postgres
    ports:
      - "8080:8080"